* {
    padding: 0px;
    margin: 0px;
    font-family: 'Verdana', cursive;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("assets/webpage/bg2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table
{
    width: 100%;
    height: 1em;
    align-content: center;
    padding-left: 6em;
}

#left
{
    padding-top: 3em;
    padding-left: 2em;
}

#blocklyDiv
{
    position: center;
    height: 30em;
    max-width: 35em;
    width: 50vw;
    /*box-shadow: 0px 0px 40px 20px #0ff;*/
}

#modal {
    position: fixed;
    top: 0; left: 0;
    height: 100vh; width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;

    /*display: flex;*/
    align-items: center;
    justify-content: center;

    color: rgb(41, 41, 41);
}
#success-content, #failure-content, #end-content, #tip-content, #character-select-content, #solution-content,#outOfBound-content {
    position:relative;
    background-color: rgb(236, 236, 236);
    padding: 1.5em;
    max-width: 400px;
    left:38%;
    top:38%;
}

#solution-content
{
    top:10%;
}

.buttons-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}
.buttons-container > button {
    padding: 0.3em 1em;
    font-size: 1.2em;
    background-color: rgb(41, 41, 41);
    color: rgb(236, 236, 236);
}
.buttons-container > button:hover {
    background-color: rgb(68, 68, 68);
}

#top-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chapter-lesson-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#chapter-lesson-wrapper > select {
    font-size: 1.3em;
    margin: 0 0.2em;
    padding: 0.2em 0.2em;
}

#description-text, #solution-text {
    margin: 1em 0.5em;
    padding: 0.5em 2em;
    max-width: 700px;
    border-radius: 10px;
    text-align:left;
    font-size: 1em;
    color: rgb(228, 228, 228);
    background-color: rgba(0, 0, 0, 0.7);
}

#description-text
{
    text-align:center;
    background-color: rgba(77, 82, 78, 1);
}

.solution-button
{
    width: 40px;
    height:40px;
    padding-left:20px;
    cursor: pointer;
    line-height: 2em;
}

#controls-wrapper
{
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 2em;
    margin: 0.5em 0 1em;

}

#run-btn
{
    width: 10em;
    font-size: 30px;
    background-color: #3366cc;
}


/*#right*/
/*{*/
/*    width: 800px;*/
/*    padding: 0px;*/
/*    float: right;*/
/*}*/